[submodule "buildroot"]
	path = buildroot
	url = https://github.com/Outernet-Project/buildroot.git
[submodule "rxos/package"]
	path = rxos/package
	url = https://github.com/Outernet-Project/buildroot-packages.git
