BR2_arm=y
BR2_cortex_a8=y
BR2_PRIMARY_SITE="https://archive.outernet.is/sources"
BR2_PACKAGE_OVERRIDE_FILE="$(BR2_EXTERNAL)/local.mk"
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL)/patches/any $(BR2_EXTERNAL)/patches/chip"
BR2_KERNEL_HEADERS_4_4=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GENERATE_LOCALE="en_US"
BR2_TARGET_GENERIC_HOSTNAME="rxos"
BR2_TARGET_GENERIC_ISSUE="Welcome to Outernet"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
# BR2_TARGET_ENABLE_ROOT_LOGIN is not set
BR2_TARGET_GENERIC_GETTY_PORT="tty1"
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_TARGET_TZ_INFO=y
BR2_ROOTFS_USERS_TABLES="$(BR2_EXTERNAL)/configs/users"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL)/rootfs/any $(BR2_EXTERNAL)/rootfs/chip"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL)/scripts/collect_static.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL)/scripts/filelist.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="https://archive.outernet.is/sources/linux-chip-4.4.y-b231c08.tar.gz"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL)/configs/chip_kernel_defconfig"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="sun5i-r8-chip"
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL)/configs/busybox.config"
BR2_PACKAGE_BZIP2=y
BR2_PACKAGE_ZIP=y
# BR2_PACKAGE_E2FSPROGS_BADBLOCKS is not set
# BR2_PACKAGE_E2FSPROGS_CHATTR is not set
# BR2_PACKAGE_E2FSPROGS_DUMPE2FS is not set
# BR2_PACKAGE_E2FSPROGS_E2FREEFRAG is not set
# BR2_PACKAGE_E2FSPROGS_E2LABEL is not set
# BR2_PACKAGE_E2FSPROGS_E2UNDO is not set
# BR2_PACKAGE_E2FSPROGS_FILEFRAG is not set
# BR2_PACKAGE_E2FSPROGS_FINDFS is not set
# BR2_PACKAGE_E2FSPROGS_LOGSAVE is not set
# BR2_PACKAGE_E2FSPROGS_LSATTR is not set
# BR2_PACKAGE_E2FSPROGS_MKE2FS is not set
# BR2_PACKAGE_E2FSPROGS_MKLOSTFOUND is not set
# BR2_PACKAGE_E2FSPROGS_TUNE2FS is not set
# BR2_PACKAGE_E2FSPROGS_UUIDGEN is not set
# BR2_PACKAGE_MTD_FLASHCP is not set
# BR2_PACKAGE_MTD_FLASH_ERASE is not set
# BR2_PACKAGE_MTD_FLASH_LOCK is not set
# BR2_PACKAGE_MTD_FLASH_UNLOCK is not set
# BR2_PACKAGE_MTD_MTD_DEBUG is not set
# BR2_PACKAGE_MTD_NANDDUMP is not set
# BR2_PACKAGE_MTD_NANDTEST is not set
# BR2_PACKAGE_MTD_NANDWRITE is not set
# BR2_PACKAGE_MTD_MTDINFO is not set
# BR2_PACKAGE_MTD_UBICRC32 is not set
# BR2_PACKAGE_MTD_UBIFORMAT is not set
# BR2_PACKAGE_MTD_UBINIZE is not set
# BR2_PACKAGE_MTD_UBIRENAME is not set
# BR2_PACKAGE_MTD_UBIRMVOL is not set
# BR2_PACKAGE_MTD_UBIRSVOL is not set
# BR2_PACKAGE_MTD_UBIUPDATEVOL is not set
# BR2_PACKAGE_MTD_UBIBLOCK is not set
BR2_PACKAGE_PYTHON=y
BR2_PACKAGE_PYTHON_PY_ONLY=y
BR2_PACKAGE_PYTHON_READLINE=y
BR2_PACKAGE_PYTHON_SSL=y
BR2_PACKAGE_PYTHON_SQLITE=y
BR2_PACKAGE_PYTHON_HASHLIB=y
BR2_PACKAGE_OPENSSL_BIN=y
BR2_PACKAGE_LIBUSB=y
BR2_PACKAGE_LIBXML2=y
BR2_PACKAGE_LIBGLIB2=y
BR2_PACKAGE_CRDA=y
# BR2_PACKAGE_DNSMASQ_TFTP is not set
BR2_PACKAGE_DROPBEAR_DISABLE_REVERSEDNS=y
BR2_PACKAGE_DROPBEAR_LASTLOG=y
BR2_PACKAGE_LIGHTTPD_ZLIB=y
BR2_PACKAGE_LIGHTTPD_PCRE=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_SUDO=y
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_INITRAMFS_USE_OTHER=y
BR2_CPIO_COMPRESSION_LZ4=y
BR2_TARGET_ROOTFS_UBIFS=y
BR2_TARGET_ROOTFS_UBIFS_LEBSIZE=0x1f8000
BR2_TARGET_ROOTFS_UBIFS_MINIOSIZE=0x4000
BR2_TARGET_ROOTFS_UBIFS_MAXLEBCNT=2000
BR2_TARGET_ROOTFS_UBIFS_LZO=y
BR2_TARGET_ROOTFS_UBI=y
BR2_TARGET_ROOTFS_UBI_SUBSIZE=16384
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARDNAME="CHIP"
BR2_TARGET_UBOOT_CUSTOM_TARBALL=y
BR2_TARGET_UBOOT_CUSTOM_TARBALL_LOCATION="https://archive.outernet.is/sources/u-boot-chip-2016.01-c23364e.tar.gz"
BR2_TARGET_UBOOT_FORMAT_CUSTOM=y
BR2_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot-dtb.bin"
BR2_TARGET_UBOOT_SPL=y
BR2_TARGET_UBOOT_SPL_NAME="spl/sunxi-spl.bin spl/sunxi-spl-with-ecc.bin"
BR2_TARGET_UBOOT_ENVIMAGE=y
BR2_TARGET_UBOOT_ENVIMAGE_SOURCE="$(BR2_EXTERNAL)/configs/chip_uboot_env"
BR2_TARGET_UBOOT_ENVIMAGE_SIZE="0x400000"
BR2_PACKAGE_HOST_DOS2UNIX=y
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_DTC=y
BR2_PACKAGE_HOST_MTOOLS=y
BR2_PACKAGE_HOST_UTIL_LINUX=y
RXOS_SUBPLATFORM="chip"
RXOS_VERSION="3.0"
BR2_PACKAGE_UBI_IMAGE=y
BR2_PACKAGE_OTA_PKG=y
BR2_PATH_BLACKLIST="^.platform(/.*)?$$ ^(.*/)?.thumbs(/.*)?$$ ^updates(/.*)?$$ ^legacy(/.*)?$$ ^FSCK.*.REC$$"
BR2_PACKAGE_BOOTHOOK_SELFPARTITION=y
BR2_BOOTHOOK_SELFPARTITION_CONFIG_SIZE="64"
BR2_PACKAGE_PERSIST_CONF=y
BR2_PERSISTENT_CONF_LIST="/etc/passwd /etc/shadow /etc/group"
BR2_PACKAGE_REMOTE_SUPPORT=y
BR2_PACKAGE_GSERIAL=y
BR2_PACKAGE_STORAGE_HOTPLUG=y
BR2_STORAGE_HOTPLUG_CHECK_PKG=y
BR2_PACKAGE_DROPBEAR_INIT=y
BR2_PACKAGE_NETWORK_CONFIG=y
BR2_NETWORK_CONFIG_HAS_ETH=y
BR2_NETWORK_CONFIG_HAS_GETH=y
BR2_NETWORK_CONFIG_WLAN_NOPOWERSAVE=y
BR2_PACKAGE_CLEANUP=y
BR2_PACKAGE_SDR_CONFIG=y
BR2_SDR_BINARY_PATH="/opt/sdr/demod"
BR2_ONDD_CONFIGFILE="/mnt/data/ondd.conf"
BR2_ONDD_INSTALL_TARBALL=y
BR2_PACKAGE_OPAKWATCH=y
BR2_PACKAGE_LIBRARIAN_CONFIG=y
BR2_LIBRARIAN_EMERGENCY_TOKEN="8615ba8497cc2f63832efd4dca67d38ce84005a4c1617ce0e39a03c4d775ce2f"
BR2_LIBRARIAN_TMPDIR="/mnt/data/tmp"
BR2_PACKAGE_TELEMETRY=y
BR2_PACKAGE_PYTHON_LFTP=y
BR2_PACKAGE_PYTHON_LIBRARIAN_NETINTERFACES=y
BR2_PACKAGE_PYTHON_LIBRARIAN_REMOTE=y
BR2_PACKAGE_PYTHON_LIBRARIAN_SVM=y
BR2_PACKAGE_PYTHON_BITPACK=y
BR2_PACKAGE_PYTHON_USER_AGENTS=y
BR2_PACKAGE_LIGHTTPD_CONFIG=y
BR2_PACKAGE_POSTGRES_CONFIG=y
BR2_PACKAGE_MULTIFS=y
BR2_LED_CONTROL_I2C=y
BR2_PACKAGE_RXOS_UTILS=y
BR2_RXOS_UTILS_INSTALL_CHIPGPIO=y
BR2_RXOS_UTILS_HOSTS="Application:http:8000 HTTP:http:80 FTP:ftp:21"
BR2_RXOS_UTILS_EXTRA_PATH="/mnt/conf"
BR2_PACKAGE_RTL8723BS=y
