BR2_arm=y
BR2_cortex_a8=y
BR2_ARM_FPU_NEON=y
BR2_PRIMARY_SITE="https://archive.outernet.is/sources"
BR2_CCACHE=y
BR2_OPTIMIZE_3=y
BR2_PACKAGE_OVERRIDE_FILE="$(BR2_EXTERNAL)/local.mk"
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL)/patches/any $(BR2_EXTERNAL)/patches/$(BOARD)"
BR2_TOOLCHAIN_BUILDROOT_VENDOR="outernet"
BR2_KERNEL_HEADERS_4_4=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GENERATE_LOCALE="en_US"
BR2_TARGET_LDFLAGS="-Wl,--build-id=none"
BR2_TARGET_GENERIC_HOSTNAME="$(PRODUCT)"
BR2_TARGET_GENERIC_ISSUE="Welcome to Outernet"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
# BR2_TARGET_ENABLE_ROOT_LOGIN is not set
BR2_TARGET_GENERIC_GETTY_PORT="tty1"
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_TARGET_TZ_INFO=y
BR2_ROOTFS_USERS_TABLES="$(BR2_EXTERNAL)/configs/users"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL)/rootfs/any $(BR2_EXTERNAL)/rootfs/chip"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.9.8"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL)/configs/$(BOARD)_kernel_defconfig"
BR2_LINUX_KERNEL_XZ=y
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="sun5i-a13-olinuxino"
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL)/configs/busybox.config"
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_ALSA_UTILS_AMIDI=y
BR2_PACKAGE_ALSA_UTILS_AMIXER=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_ALSA_UTILS_APLAYMIDI=y
BR2_PACKAGE_ALSA_UTILS_SPEAKER_TEST=y
BR2_PACKAGE_ESPEAK=y
BR2_PACKAGE_ESPEAK_AUDIO_BACKEND_ALSA=y
BR2_PACKAGE_OPUS_TOOLS=y
BR2_PACKAGE_SOX=y
BR2_PACKAGE_XZ=y
BR2_PACKAGE_ZIP=y
BR2_PACKAGE_JQ=y
# BR2_PACKAGE_E2FSPROGS_BADBLOCKS is not set
# BR2_PACKAGE_E2FSPROGS_CHATTR is not set
# BR2_PACKAGE_E2FSPROGS_DUMPE2FS is not set
# BR2_PACKAGE_E2FSPROGS_E2FREEFRAG is not set
# BR2_PACKAGE_E2FSPROGS_E2LABEL is not set
# BR2_PACKAGE_E2FSPROGS_E2UNDO is not set
# BR2_PACKAGE_E2FSPROGS_FILEFRAG is not set
# BR2_PACKAGE_E2FSPROGS_FINDFS is not set
# BR2_PACKAGE_E2FSPROGS_LOGSAVE is not set
# BR2_PACKAGE_E2FSPROGS_LSATTR is not set
# BR2_PACKAGE_E2FSPROGS_MKLOSTFOUND is not set
# BR2_PACKAGE_E2FSPROGS_TUNE2FS is not set
# BR2_PACKAGE_E2FSPROGS_UUIDGEN is not set
BR2_PACKAGE_F2FS_TOOLS=y
BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_LINUX_FIRMWARE_MEDIATEK_MT7601U=y
BR2_PACKAGE_NODEJS_MODULES_ADDITIONAL="bcryptjs@2.4.0 child_process@1.0.2 colors@1.1.2 deepmerge@1.3.1 diskspace@1.0.3 exif@0.6.0 findit@2.0.0 formidable@1.0.17 fs@0.0.1-security http@0.0.0 http-proxy@1.16.2 mysql@2.12.0 net@1.0.2 network@0.3.0 node-fs-extra@0.8.1 passwd-linux@1.3.1 path@0.12.7 querystring@0.2.0 request@2.79.0 simple-session@0.0.1 unix-dgram@1.0.0 unzip@0.1.11 url@0.11.0 userid@0.2.0 util@0.10.3 ws@1.1.1 x2js@3.1.0"
BR2_PACKAGE_LIBCODEC2=y
BR2_PACKAGE_OPUS_FIXED_POINT=y
BR2_PACKAGE_OPUSFILE=y
BR2_PACKAGE_SPEEX=y
BR2_PACKAGE_LZO=y
BR2_PACKAGE_OPENSSL_BIN=y
BR2_PACKAGE_LIBUSB=y
BR2_PACKAGE_LIBEVENT=y
BR2_PACKAGE_LIBGLIB2=y
BR2_PACKAGE_LIBPTHSEM=y
BR2_PACKAGE_LIBPTHSEM_COMPAT=y
BR2_PACKAGE_CRDA=y
# BR2_PACKAGE_DNSMASQ_TFTP is not set
BR2_PACKAGE_DROPBEAR_DISABLE_REVERSEDNS=y
BR2_PACKAGE_DROPBEAR_LASTLOG=y
BR2_PACKAGE_RSYNC=y
BR2_PACKAGE_SUDO=y
BR2_PACKAGE_TAR=y
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_INITRAMFS_USE_OTHER=y
BR2_CPIO_COMPRESSION_XZ=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_VERSION=y
BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2017.01"
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="A13-OLinuXino"
BR2_TARGET_UBOOT_FORMAT_CUSTOM=y
BR2_TARGET_UBOOT_FORMAT_CUSTOM_NAME="u-boot-sunxi-with-spl.bin"
BR2_TARGET_UBOOT_ENVIMAGE=y
BR2_TARGET_UBOOT_ENVIMAGE_SOURCE="$(BR2_EXTERNAL)/configs/$(BOARD)_uboot_env"
BR2_TARGET_UBOOT_ENVIMAGE_SIZE="0x400000"
BR2_PACKAGE_HOST_DOS2UNIX=y
BR2_PACKAGE_HOST_DTC=y
RXOS_SUBPLATFORM="$(BOARD)"
RXOS_VERSION="4.4"
RXOS_TMPFS_SIZE=16
BR2_PACKAGE_SD_IMAGE=y
BR2_PACKAGE_SOP_HANDLER=y
BR2_PATH_BLACKLIST="^.platform(/.*)?$$ ^(.*/)?.thumbs(/.*)?$$ ^updates(/.*)?$$ ^legacy(/.*)?$$ ^FSCK.*.REC$$"
BR2_RAMFSINIT_SDCARD=y
BR2_PACKAGE_BOOTHOOK_SELFPARTITION=y
BR2_BOOTHOOK_SELFPARTITION_CONFIG_SIZE="64"
BR2_PACKAGE_PERSIST_CONF=y
BR2_PERSISTENT_CONF_LIST="/etc/shadow"
BR2_PACKAGE_REMOTE_SUPPORT=y
BR2_PACKAGE_GSERIAL=y
BR2_PACKAGE_STORAGE_HOTPLUG=y
BR2_PACKAGE_DROPBEAR_INIT=y
BR2_PACKAGE_NETWORK_CONFIG=y
BR2_NETWORK_CONFIG_HAS_ETH=y
BR2_NETWORK_CONFIG_HAS_GETH=y
BR2_NETWORK_CONFIG_WLAN_NOPOWERSAVE=y
BR2_PACKAGE_CLEANUP=y
BR2_PACKAGE_SDR_CONFIG=y
BR2_SDR_BINARY_PATH="/opt/sdr/demod"
BR2_PACKAGE_ONDD=y
BR2_ONDD_CONFIGFILE="/mnt/data/ondd.conf"
BR2_ONDD_INSTALL_TARBALL=y
BR2_PACKAGE_STARSDR_ARM=y
BR2_PACKAGE_OPAKWATCH2=y
BR2_OPAKWATCH2_SOURCE="/mnt/downloads/opaks"
BR2_PACKAGE_WEATHERGEN=y
BR2_WEATHERGEN_SOURCE="/mnt/downloads/grib2"
BR2_PACKAGE_UI2SERVICE=y
BR2_PACKAGE_VSFTPD_RXOS=y
BR2_LED_CONTROL_I2C=y
BR2_PACKAGE_TWEETNACL_TOOLS=y
BR2_PACKAGE_RXOS_UTILS=y
BR2_RXOS_UTILS_INSTALL_CHIPGPIO=y
BR2_RXOS_UTILS_PROCS="hostapd dnsmasq dropbear ondd demod vsftpd inotifywait node"
BR2_RXOS_UTILS_HOSTS="HTTP:http:80"
BR2_RXOS_UTILS_EXTRA_PATH="/mnt/conf"
BR2_PACKAGE_MT7601APSTA=y
