BR2_arm=y
BR2_cortex_a7=y
BR2_ARM_FPU_NEON_VFPV4=y
BR2_PRIMARY_SITE="https://archive.outernet.is/sources"
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL)/patches/any $(BR2_EXTERNAL)/patches/rpi3"
BR2_KERNEL_HEADERS_4_1=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GENERATE_LOCALE="en_US"
BR2_TARGET_GENERIC_HOSTNAME="rxos"
BR2_TARGET_GENERIC_ISSUE="Welcome to Outernet"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
# BR2_TARGET_ENABLE_ROOT_LOGIN is not set
BR2_TARGET_GENERIC_GETTY_PORT="tty1"
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_TARGET_TZ_INFO=y
BR2_ROOTFS_USERS_TABLES="$(BR2_EXTERNAL)/configs/users"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL)/rootfs/any $(BR2_EXTERNAL)/rootfs/rpi3"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(BR2_EXTERNAL)/scripts/collect_static.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL)/scripts/add_trailer.sh $(BR2_EXTERNAL)/scripts/filelist.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="https://archive.outernet.is/sources/linux-rpi-4.1.y.tar.gz"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL)/configs/rpi3_kernel_defconfig"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="bcm2710-rpi-3-b"
BR2_PACKAGE_BUSYBOX_CONFIG="$(BR2_EXTERNAL)/configs/busybox.config"
BR2_PACKAGE_BZIP2=y
BR2_PACKAGE_ZIP=y
# BR2_PACKAGE_E2FSPROGS_BADBLOCKS is not set
# BR2_PACKAGE_E2FSPROGS_CHATTR is not set
# BR2_PACKAGE_E2FSPROGS_DUMPE2FS is not set
# BR2_PACKAGE_E2FSPROGS_E2FREEFRAG is not set
# BR2_PACKAGE_E2FSPROGS_E2UNDO is not set
# BR2_PACKAGE_E2FSPROGS_FILEFRAG is not set
# BR2_PACKAGE_E2FSPROGS_FINDFS is not set
# BR2_PACKAGE_E2FSPROGS_LOGSAVE is not set
# BR2_PACKAGE_E2FSPROGS_LSATTR is not set
BR2_PACKAGE_MTD=y
BR2_PACKAGE_RPI_FIRMWARE=y
# BR2_PACKAGE_RPI_FIRMWARE_INSTALL_DTB_OVERLAYS is not set
BR2_PACKAGE_PYTHON=y
BR2_PACKAGE_PYTHON_PY_ONLY=y
BR2_PACKAGE_PYTHON_READLINE=y
BR2_PACKAGE_PYTHON_SSL=y
BR2_PACKAGE_PYTHON_SQLITE=y
BR2_PACKAGE_PYTHON_HASHLIB=y
BR2_PACKAGE_PYTHON_PYYAML=y
BR2_PACKAGE_LIBRTLSDR=y
BR2_PACKAGE_LIBXML2=y
BR2_PACKAGE_LIBGLIB2=y
BR2_PACKAGE_CRDA=y
# BR2_PACKAGE_DNSMASQ_TFTP is not set
BR2_PACKAGE_DROPBEAR_DISABLE_REVERSEDNS=y
BR2_PACKAGE_DROPBEAR_LASTLOG=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_SUDO=y
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_INITRAMFS_USE_OTHER=y
BR2_CPIO_COMPRESSION_LZ4=y
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS4_LZ4=y
BR2_PACKAGE_HOST_DOS2UNIX=y
RXOS_SUBPLATFORM="rpi3"
RXOS_VERSION="2.0"
RXOS_TMPFS_SIZE=100
BR2_PACKAGE_SDIMAGE=y
BR2_SDIMAGE_SOURCE="$(BR2_EXTERNAL)/configs/sdimage.txt"
BR2_PACKAGE_OTA_PKG=y
BR2_PATH_BLACKLIST="^.platform(/.*)?$$ ^(.*/)?.thumbs(/.*)?$$ ^updates(/.*)?$$ ^legacy(/.*)?$$ ^FSCK.*.REC$$"
BR2_RAMFSINIT_SDCARD=y
BR2_PACKAGE_BOOTHOOK_SELFPARTITION=y
BR2_PACKAGE_PERSIST_CONF=y
BR2_PERSISTENT_CONF_LIST="/etc/passwd /etc/shadow /etc/group"
BR2_PACKAGE_REMOTE_SUPPORT=y
BR2_PACKAGE_STORAGE_HOTPLUG=y
BR2_STORAGE_HOTPLUG_CHECK_PKG=y
BR2_PACKAGE_DROPBEAR_INIT=y
BR2_PACKAGE_NETWORK_CONFIG=y
BR2_NETWORK_CONFIG_HAS_ETH=y
BR2_NETWORK_CONFIG_TAG="outernet"
BR2_PACKAGE_SDR_CONFIG=y
BR2_SDR_BINARY_PATH="/opt/sdr/demod"
BR2_ONDD_CONFIGFILE="/mnt/data/ondd.conf"
BR2_ONDD_INSTALL_TARBALL=y
BR2_PACKAGE_LIBRARIAN_CONFIG=y
BR2_LIBRARIAN_TMPDIR="/mnt/data/tmp"
BR2_PACKAGE_TELEMETRY=y
BR2_PACKAGE_PYTHON_LFTP=y
BR2_PACKAGE_PYTHON_LIBRARIAN_NETINTERFACES=y
BR2_PACKAGE_PYTHON_LIBRARIAN_SVM=y
BR2_PACKAGE_LIGHTTPD_CONFIG=y
BR2_LIGHTTPD_UPLOAD_TMPDIR="/mnt/data/tmp"
BR2_PACKAGE_POSTGRES_CONFIG=y
BR2_PACKAGE_LIGHTTPD_CUSTOM_PCRE=y
BR2_PACKAGE_MULTIFS=y
BR2_PACKAGE_RXOS_UTILS=y
BR2_RXOS_UTILS_IFACES="wlan0 eth0"
BR2_PACKAGE_FIRMWARE_BRCMFMAC43430_SDIO=y
